$primary: #266AAE;
$secondary: #666666;
$third: #f7f9ff;
$background: #ffffff;
$shadow: 1px 0 6px rgba($primary, 0.2);
$border: 2px solid rgba($primary, 0.1);

$titleColor:#2B2B2B;
$subTitleColor:#4D4D4D;
$contentColor:#7D7D7D;
$tipsColor:#E3E3E3;
// /*第二配色*/
// $primary: #ff9800;
// $secondary: #666666;
// $third: #f7f9ff;
// $background: #f6f6f6;
// $shadow: 1px 0 6px rgba($primary, 0.2);
// $border: 2px solid rgba($primary, 0.1);
